/* ---------------
COLOURS
----------------*/
/* ---------------
GRID
----------------*/
/*-------------------------------
GLOBAL
--------------------------------*/
body {
  font-size: 16px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  color: #414141;
  margin: 0; }
  @media only screen and (max-width: 1150px) {
    body {
      font-size: 14px; } }
  @media only screen and (max-width: 620px) {
    body {
      font-size: 12px; } }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

.row {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  padding: 0 10px; }

/*-------------------------------
NAV BAR
--------------------------------*/
nav {
  padding: 30px 10px 0;
  position: absolute;
  right: 0; }
  @media only screen and (max-width: 935px) {
    nav {
      padding-top: 10px; } }
  nav ul {
    position: relative;
    z-index: 300;
    list-style: none;
    padding: 0;
    text-align: right;
    width: calc(100%);
    float: right;
    margin-right: 0px; }
    @media only screen and (max-width: 620px) {
      nav ul {
        display: none; } }
    nav ul li {
      display: inline-flex; }
      nav ul li a:link,
      nav ul li a:visited {
        padding: 10px 19px;
        font-weight: 200;
        color: #414141;
        background-color: transparent;
        -webkit-transition: color, background-color 0.3s;
        transition: color, background-color 0.3s; }
        @media only screen and (max-width: 935px) {
          nav ul li a:link,
          nav ul li a:visited {
            padding: 10px 10px; } }
        @media only screen and (max-width: 620px) {
          nav ul li a:link,
          nav ul li a:visited {
            font-size: 85%;
            padding: 5px 8px; } }
      nav ul li a:hover,
      nav ul li a:active {
        background-color: #0b4e70;
        color: #ededed; }
    nav ul li:last-of-type a:link,
    nav ul li:last-of-type a:visited {
      color: #d6d7d8;
      background-color: #212934;
      -webkit-transition: color, background-color 0.3s;
      transition: color, background-color 0.3s; }
    nav ul li:last-of-type a:hover,
    nav ul li:last-of-type a:active {
      background-color: #75c372;
      color: white; }

/*-------------------------------
TITLE / SWIPER
--------------------------------*/
.swiper-container {
  display: block;
  padding-top: 180px;
  width: 700px;
  margin: 0; }
  @media only screen and (max-width: 1150px) {
    .swiper-container {
      padding-top: 200px;
      width: 600px; } }
  @media only screen and (max-width: 935px) {
    .swiper-container {
      padding-top: 120px;
      width: 500px; } }
  @media only screen and (max-width: 620px) {
    .swiper-container {
      padding-top: 140px;
      width: 350px; } }
  @media (max-width: 370px) {
    .swiper-container {
      padding-top: 140px;
      width: 300px; } }
  .swiper-container h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 345%;
    margin-bottom: 20px;
    letter-spacing: 1px; }
    @media only screen and (max-width: 1150px) {
      .swiper-container h1 {
        margin-bottom: 10px; } }
    @media only screen and (max-width: 935px) {
      .swiper-container h1 {
        font-size: 280%; } }
    @media only screen and (max-width: 620px) {
      .swiper-container h1 {
        font-size: 220%; } }
    @media (max-width: 370px) {
      .swiper-container h1 {
        font-size: 200%; } }
  .swiper-container span {
    font-weight: 400;
    font-size: 125%;
    color: #707071;
    font-weight: 300;
    letter-spacing: 1px;
    width: calc(100%);
    float: left;
    margin-left: 0px; }
    @media only screen and (max-width: 935px) {
      .swiper-container span {
        font-size: 100%; } }
    @media only screen and (max-width: 620px) {
      .swiper-container span {
        letter-spacing: 0; } }

.swiper-pagination {
  position: relative;
  text-align: right;
  margin: 70px 0 0 0 !important;
  width: 94% !important;
  opacity: 1 !important; }
  @media only screen and (max-width: 1150px) {
    .swiper-pagination {
      margin-top: 40px !important;
      text-align: center; } }
  @media only screen and (max-width: 620px) {
    .swiper-pagination {
      margin-top: 30px !important; } }
  .swiper-pagination .swiper-pagination-bullet {
    opacity: 1;
    background-color: #cecece;
    padding: 5px; }
    @media only screen and (max-width: 620px) {
      .swiper-pagination .swiper-pagination-bullet {
        padding: 3px; } }
  .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #0b4e70; }

/*-------------------------------
SERVICES
--------------------------------*/
.services {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  z-index: 200;
  color: #ededed;
  margin-top: 20px; }
  .services div {
    position: relative;
    z-index: 200; }
    .services div .fa {
      margin-bottom: 20px; }
    .services div span {
      font-size: 110%; }
    .services div a {
      color: #75c372;
      text-decoration: underline; }
  .services .consult {
    text-align: center;
    left: calc(8.3333333333% - 5.4166666667px + 5px);
    position: relative;
    width: calc(16.6666666667% - 5.8333333333px);
    float: left;
    margin-left: 5px; }
    @media only screen and (max-width: 1150px) {
      .services .consult {
        left: calc(16.6666666667% - 5.8333333333px + 5px);
        position: relative; } }
    @media only screen and (max-width: 620px) {
      .services .consult {
        left: calc(0% - 5px + 5px);
        position: relative;
        width: calc(100% - 10px);
        float: left;
        margin-left: 5px; } }
  .services .implement {
    text-align: center;
    left: calc(25% - 6.25px + 5px);
    position: relative;
    width: calc(16.6666666667% - 5.8333333333px);
    float: left;
    margin-left: 5px; }
    @media only screen and (max-width: 620px) {
      .services .implement {
        left: calc(0% - 5px + 5px);
        position: relative;
        width: calc(100% - 10px);
        float: left;
        margin-left: 5px;
        margin-top: 25px; } }
  .services .manage {
    text-align: center;
    left: calc(41.6666666667% - 7.0833333333px + 5px);
    position: relative;
    width: calc(16.6666666667% - 5.8333333333px);
    float: left;
    margin-left: 5px; }
    @media only screen and (max-width: 1150px) {
      .services .manage {
        left: calc(33.3333333333% - 6.6666666667px + 5px);
        position: relative; } }
    @media only screen and (max-width: 620px) {
      .services .manage {
        left: calc(0% - 5px + 5px);
        position: relative;
        width: calc(100% - 10px);
        float: left;
        margin-left: 5px;
        margin-top: 25px; } }

/*-------------------------------
BACKGROUND
--------------------------------*/
.logo {
  position: absolute;
  right: 0;
  top: 220px;
  z-index: -100;
  width: 650px;
  height: auto; }
  @media only screen and (max-width: 1150px) {
    .logo {
      width: 500px;
      top: 270px; } }
  @media only screen and (max-width: 935px) {
    .logo {
      width: 250px;
      top: 270px; } }
  @media only screen and (max-width: 620px) {
    .logo {
      width: 160px;
      top: 260px; } }

.services-background:before {
  content: "";
  position: relative;
  height: 0;
  width: 0;
  bottom: 0;
  left: 0;
  border-top: 11vw solid transparent;
  border-left: 100vw solid #0b4e70;
  border-right: 0vw solid transparent;
  border-bottom: 4vw solid #0b4e70; }

.services-background {
  margin-top: 230px;
  position: relative;
  background-color: #0b4e70;
  height: 340px;
  width: 100%;
  z-index: 100; }
  @media only screen and (max-width: 1150px) {
    .services-background {
      height: 280px;
      margin-top: 200px; } }
  @media only screen and (max-width: 935px) {
    .services-background {
      margin-top: 130px; } }
  @media only screen and (max-width: 620px) {
    .services-background {
      margin-top: 80px;
      height: 510px; } }

.footer {
  position: relative;
  background-color: #212934;
  height: 30px;
  width: 100%;
  margin-bottom: 60px; }
  @media only screen and (max-width: 935px) {
    .footer {
      margin-bottom: 40px; } }
  @media only screen and (max-width: 620px) {
    .footer {
      margin-bottom: 30px; } }

/*-------------------------------
NAV DRAW
--------------------------------*/
.nav-draw-icon {
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  background-color: #c6c6c6;
  top: 15px;
  left: 15px;
  color: #111;
  z-index: 200;
  display: none; }
  @media only screen and (max-width: 620px) {
    .nav-draw-icon {
      display: block; } }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  background-color: #212934;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; }
  @media only screen and (max-width: 620px) {
    .sidenav {
      padding-top: 15px; } }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s; }
    @media only screen and (max-width: 620px) {
      .sidenav a {
        font-size: 18px; } }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

/*# sourceMappingURL=main.css.map */
