@import "neat";
@import "variables";

/*-------------------------------
GLOBAL
--------------------------------*/

body {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

/*-------------------------------
NAV BAR
--------------------------------*/

nav {
    margin-top: 30px;
    
    ul {
        float: right;
        list-style: none;
        width: 100%;
        padding: 0;
        text-align: right;
        @include grid-column(7, $nav-grid);
        
        li {
            display: inline-flex;
            padding: 10px 20px;
        }
        
        li:last-of-type {
            background-color: rgb(33, 39, 51);
            color: rgb(214, 215, 216);
        }
    }
    
}

/*-------------------------------
TITLE
--------------------------------*/

.title {
    position: relative;
    display: block;
    padding-top: 180px;
    
    h1 {
        font-weight: 200;
        font-size: 345%;
        margin-bottom: 20px;
        letter-spacing: 1px;
        @include grid-column(7, $title-grid);
    }
    
    span {
        font-weight: 400;
        font-size: 125%;
        color: rgb(112,112,113);
        font-weight: 300;
        letter-spacing: 1px;
        font-family: 'Libre Franklin', sans-serif;
        @include grid-column(7, $title-grid);

    }
    
    ul {
        position: relative;
        float: right;
        padding: 0;
        @include grid-column(7, $title-grid);
        text-align: right;

        
        li {
            list-style: none;
            display: inline-flex;
            border: 1px solid black;
            padding: 7px;
            border-radius: 50%;
        }
    }
}


