/* ---------------
COLOURS
----------------*/
/* ---------------
GRID
----------------*/
/*-------------------------------
GLOBAL
--------------------------------*/
body {
  font-size: 16px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  color: #414141;
  margin: 0; }
  @media only screen and (max-width: 1024px) {
    body {
      font-size: 14px; } }
  @media only screen and (max-width: 480px) {
    body {
      font-size: 12px; } }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

/*-------------------------------
NAV BAR
--------------------------------*/
nav {
  padding-top: 30px;
  max-width: 1140px;
  margin: 0 auto;
  position: relative; }
  @media only screen and (max-width: 480px) {
    nav {
      margin-top: 10px; } }
  nav ul {
    position: relative;
    z-index: 300;
    list-style: none;
    padding: 0;
    text-align: right;
    width: calc(100%);
    float: right;
    margin-right: 0px; }
    @media only screen and (max-width: 480px) {
      nav ul {
        display: none; } }
    nav ul li {
      display: inline-flex; }
      nav ul li a:link,
      nav ul li a:visited {
        padding: 10px 19px;
        font-weight: 200;
        color: #414141;
        background-color: transparent;
        -webkit-transition: color, background-color 0.3s;
        transition: color, background-color 0.3s; }
        @media only screen and (max-width: 480px) {
          nav ul li a:link,
          nav ul li a:visited {
            font-size: 85%;
            padding: 5px 8px; } }
      nav ul li a:hover,
      nav ul li a:active {
        background-color: #0b4e70;
        color: #dedede; }
    nav ul li:last-of-type a:link,
    nav ul li:last-of-type a:visited {
      color: #d6d7d8;
      background-color: #212934;
      -webkit-transition: color, background-color 0.3s;
      transition: color, background-color 0.3s; }
    nav ul li:last-of-type a:hover,
    nav ul li:last-of-type a:active {
      background-color: #75c372;
      color: white; }

/*-------------------------------
TITLE
--------------------------------*/
.title {
  position: relative;
  display: block;
  padding-top: 180px;
  max-width: 1140px;
  margin: 0 auto; }
  @media only screen and (max-width: 1024px) {
    .title {
      padding-top: 100px;
      margin-left: 10px; } }
  @media only screen and (max-width: 768px) {
    .title {
      margin-left: 10px; } }
  @media only screen and (max-width: 480px) {
    .title {
      padding-top: 40px; } }
  .title h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 345%;
    margin-bottom: 20px;
    letter-spacing: 1px; }
    @media only screen and (max-width: 1024px) {
      .title h1 {
        margin-bottom: 10px; } }
    @media only screen and (max-width: 768px) {
      .title h1 {
        font-size: 280%; } }
    @media only screen and (max-width: 480px) {
      .title h1 {
        font-size: 240%; } }
  .title span {
    font-weight: 400;
    font-size: 125%;
    color: #707071;
    font-weight: 300;
    letter-spacing: 1px;
    width: calc(100%);
    float: left;
    margin-left: 0px; }
    @media only screen and (max-width: 768px) {
      .title span {
        font-size: 100%; } }
    @media only screen and (max-width: 480px) {
      .title span {
        letter-spacing: 0; } }
  .title ul {
    position: relative;
    text-align: right;
    left: -50px;
    margin-top: 50px;
    width: calc(58.3333333333% - 31.6666666667px);
    float: left;
    margin-left: 20px; }
    @media only screen and (max-width: 1024px) {
      .title ul {
        margin-top: 20px; } }
    @media only screen and (max-width: 480px) {
      .title ul {
        width: calc(75% - 35px);
        float: left;
        margin-left: 20px; } }
    .title ul li {
      list-style: none;
      display: inline-flex;
      background-color: #cecece;
      padding: 7px;
      border-radius: 50%; }
      @media only screen and (max-width: 768px) {
        .title ul li {
          padding: 5px; } }
    .title ul li:first-of-type {
      background-color: #0b4e70; }

/*-------------------------------
SERVICES
--------------------------------*/
.services {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  z-index: 200;
  color: #dedede;
  margin-top: 10px; }
  .services div {
    position: relative;
    z-index: 200; }
    .services div .fa {
      margin-bottom: 20px; }
    .services div span {
      font-size: 110%; }
    .services div a {
      color: #75c372;
      text-decoration: underline; }
    @media only screen and (max-width: 480px) {
      .services div {
        margin-top: 25px; } }
  .services .consult {
    text-align: center;
    left: calc(8.3333333333% - 5.4166666667px + 5px);
    position: relative;
    width: calc(16.6666666667% - 5.8333333333px);
    float: left;
    margin-left: 5px; }
    @media only screen and (max-width: 1024px) {
      .services .consult {
        left: calc(16.6666666667% - 5.8333333333px + 5px);
        position: relative; } }
    @media only screen and (max-width: 480px) {
      .services .consult {
        left: calc(0% - 5px + 5px);
        position: relative;
        width: calc(100% - 10px);
        float: left;
        margin-left: 5px; } }
  .services .implement {
    text-align: center;
    left: calc(25% - 6.25px + 5px);
    position: relative;
    width: calc(16.6666666667% - 5.8333333333px);
    float: left;
    margin-left: 5px; }
    @media only screen and (max-width: 480px) {
      .services .implement {
        left: calc(0% - 5px + 5px);
        position: relative;
        width: calc(100% - 10px);
        float: left;
        margin-left: 5px; } }
  .services .manage {
    text-align: center;
    left: calc(41.6666666667% - 7.0833333333px + 5px);
    position: relative;
    width: calc(16.6666666667% - 5.8333333333px);
    float: left;
    margin-left: 5px; }
    @media only screen and (max-width: 1024px) {
      .services .manage {
        left: calc(33.3333333333% - 6.6666666667px + 5px);
        position: relative; } }
    @media only screen and (max-width: 480px) {
      .services .manage {
        left: calc(0% - 5px + 5px);
        position: relative;
        width: calc(100% - 10px);
        float: left;
        margin-left: 5px; } }

/*-------------------------------
BACKGROUND
--------------------------------*/
.logo {
  position: absolute;
  right: 0;
  top: 220px;
  z-index: -100;
  width: 650px;
  height: auto; }
  @media only screen and (max-width: 1024px) {
    .logo {
      width: 500px;
      top: 140px; } }
  @media only screen and (max-width: 768px) {
    .logo {
      width: 250px;
      top: 250px; } }
  @media only screen and (max-width: 480px) {
    .logo {
      width: 160px;
      top: 210px; } }
  @media (max-width: 320px) {
    .logo {
      top: 230px; } }

.slope {
  position: relative;
  z-index: 100;
  width: 100.20%;
  margin: 30px 0 -30px -2px; }
  @media only screen and (max-width: 768px) {
    .slope {
      width: 100.35%; } }
  @media only screen and (max-width: 480px) {
    .slope {
      width: 100.85%; } }

.services-background:before {
  content: "";
  position: relative;
  height: 0;
  width: 0;
  bottom: 12.3vw;
  left: 0;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 100vw;
  border-bottom-width: 11vw;
  border-style: solid;
  border-color: transparent transparent #75c372; }

.services-background {
  margin-top: 300px;
  position: relative;
  background-color: #0b4e70;
  height: 340px;
  width: 100%;
  z-index: 100; }
  @media only screen and (max-width: 1024px) {
    .services-background {
      height: 280px; } }
  @media only screen and (max-width: 768px) {
    .services-background {
      margin-top: 20px; } }
  @media only screen and (max-width: 480px) {
    .services-background {
      height: 520px; } }

.footer {
  position: relative;
  background-color: #212934;
  height: 30px;
  width: 100%;
  margin-bottom: 80px; }

/*-------------------------------
NAV DRAW
--------------------------------*/
.nav-draw-icon {
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  background-color: #c6c6c6;
  top: 15px;
  left: 15px;
  color: #111;
  z-index: 200;
  display: none; }
  @media only screen and (max-width: 480px) {
    .nav-draw-icon {
      display: block; } }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  background-color: #212934;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; }
  @media only screen and (max-width: 480px) {
    .sidenav {
      padding-top: 15px; } }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s; }
    @media only screen and (max-width: 480px) {
      .sidenav a {
        font-size: 18px; } }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

/*# sourceMappingURL=main.css.map */
