@import "neat";
@import "variables";

/*-------------------------------
GLOBAL
--------------------------------*/

body {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

/*-------------------------------
NAV BAR
--------------------------------*/

nav {
    margin-top: 30px;
    
    ul {
        float: right;
        list-style: none;
        width: 100%;
        padding: 0;
        text-align: right;
        @include grid-column(7, $nav-grid);
        
        li {
            display: inline-flex;
            padding: 10px 20px;
        }
        
        li:last-of-type {
            background-color: rgb(33, 39, 51);
            color: rgb(214, 215, 216);
        }
    }
    
}

/*-------------------------------
TITLE
--------------------------------*/

.title {
    position: relative;
    display: block;
    padding-top: 180px;
    
    h1 {
        font-weight: 200;
        font-size: 345%;
        margin-bottom: 20px;
        letter-spacing: 1px;
        @include grid-column(7, $title-grid);
    }
    
    span {
        font-weight: 400;
        font-size: 125%;
        color: rgb(112,112,113);
        font-weight: 300;
        letter-spacing: 1px;
        font-family: 'Libre Franklin', sans-serif;
        @include grid-column(7, $title-grid);

    }
    
    ul {
        position: relative;
        text-align: right;
        left: -50px;
        margin-top: 50px;
        @include grid-column(7);
          
        li {
            list-style: none;
            display: inline-flex;
            background-color: rgb(206,206,206);
            padding: 7px;
            border-radius: 50%;
        }
        
        li:first-of-type { background-color: $blue; }
        
    }
}

/*-------------------------------
SERVICES
--------------------------------*/

.services {
    position: relative;
    z-index: 100;
    color: white;
    margin-top: 40px;
    @include grid-column(12, $services-grid);
    
    div {
        font-size: 94%;
        
        .fa { margin-bottom: 20px; }
        
        span { font-size: 110%; }
        
        a {
            color: rgb(117, 195, 114);
            text-decoration: underline;
        }
    }

    .consult {
        text-align: center;
        @include grid-shift(1, $services-grid);
        @include grid-column(2, $services-grid);
    }
    .implement {
        text-align: center;
        @include grid-shift(3, $services-grid);
        @include grid-column(2, $services-grid);
    }
    .manage {
        text-align: center;
        @include grid-shift(5, $services-grid);
        @include grid-column(2, $services-grid);
    }
}

/*-------------------------------
BACKGROUND
--------------------------------*/

.logo {
    position: absolute;
    right: 0;
    z-index: -100;
}

.slope {
    position: absolute;
    left: -5px;
    top: -120px;
    z-index: 100;
}

.services-background {
    position: relative;
    margin-top: 600px;
    background-color: $blue;
    height: 340px;
    width: 100%;
    z-index: -100;
}

.footer {
    position: relative;
    background-color: $darkBlue;
    height: 30px;
    width: 100%;
    margin-bottom: 120px;
}


