@import "neat";

/* ---------------
COLOURS
----------------*/

$textBlack: #414141;
$textWhite: #dedede;
$blue: rgb(11,78,112);
$darkBlue: rgb(33, 41, 52);
$lightBlue: rgb(35, 145, 205);
$green: rgb(117, 195, 114);



/* ---------------
GRID
----------------*/

$nav-grid: (
    columns: 12,
    gutter: 0px,
    direction: rtl
);

$title-grid: (
    columns: 12,
    gutter: 0px
);

$services-grid: (
    columns: 12,
    gutter: 5px
);